<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.formulator.barterbooksapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.BarterBooksApp">
        <activity
            android:name="com.formulator.barterbooksapp.EditUserActivity"
            android:exported="false" />
        <activity
            android:name="com.formulator.barterbooksapp.PostAdActivity"
            android:exported="false" />
        <activity
            android:name="com.formulator.barterbooksapp.AboutUsScreen"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.DetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.LoginPageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.LocationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.CategoriesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.RegistrationScreenActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.SplashScreenActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.formulator.barterbooksapp.MainActivity"
            android:exported="false"
            android:label="Home"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.formulator.barterbooksapp.SellerListActivity"
            android:exported="false"
            android:label="SellerList"
            android:screenOrientation="portrait" />
        <service
            android:name="com.formulator.barterbooksapp.FirebasenotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />
    </application>

</manifest>